<h1>Movie #<%= @movie.id %></h1>

<div>
  <strong>Director</strong>:<br />
  <p>
    <a href="/directors/<%=  @movie.director.id %>"><%= @movie.director.name %></a>
  </p>
</div>
<div>
  <strong>Title</strong>:<br />
  <p><%= @movie.title %></p>
</div>
<div>
  <strong>Image url</strong>:<br />
  <p><%= @movie.image_url %></p>
</div>
<div>
  <strong>Description</strong>:<br />
  <p><%= @movie.description %></p>
</div>
<div>
  <strong>Date</strong>:<br />
  <p><%= @movie.date %></p>
</div>

<a href="/movies/<%= @movie.id %>/edit">Edit</a> |
<a href="/movies/<%= @movie.id %>/destroy">Destroy</a>
